<%# ----------------------- Header ------------------------------------------ %>

<div class="container-fluid mt-3">
  <div class="card d-flex flex-row align-items-center shadow" style="background-color: #FDFD96; opacity: 1; border-radius: 12px; padding: 10px;">
    <div class="d-flex justify-content-between align-items-center w-100">
      <h5 class="text-center mx-auto">Welcome <%= current_user.email%></h5>

        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>

    </div>
  </div>
</div>


<%# ---------------- Button New Meal ---------------------------------------- %>

<div class="text-center">
  <%= link_to '+ NEW MEAL', ingredients_path, class: "btn w-75 rounded-5
   py-2 mt-3 shadow", style: "background-color: #a8d254; opacity: 1;" %>
</div>


<%# ---------------- Body --------------------------------------------------- %>

<div class="container-fluid mt-3">
  <div class="card mx-auto shadow" style="max-width: 600px; border-radius: 24px; background-color:#f29006; opacity: 1;">
    <div class="card-body">
      <h2 class="text-center mb-3">My History</h2>

      <input type="text" id="recipeList" onkeyup="myFunction()" placeholder="Search for recipes..">

      <ul id="mytestUL">
        <% if @bookmarks.present? %>
          <% @bookmarks.each do |bookmark| %>
            <li class="mb-3">
              <%= link_to bookmark_path(bookmark), class: 'd-flex justify-content-between align-items-center btn btn-link' do %>
                <!-- Title -->
                <span><%= bookmark.recipe.title %></span>

                <!-- Done status icon -->
                <% if bookmark.recipe.done == true %>
                  <span ><i class="fa-solid fa-square-check fa-xl"></i></span>
                <% else %>
                  <span ><i class="fa-solid fa-bookmark fa-xl"></i></span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        <% else %>
          <div class="d-flex justify-content-center align-items-center" style="height: 50px;">
            <p class="card-text">No recipe yet.</p>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<%# ---------------- Script ------------------------------------------------- %>

<script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('recipeList');
  filter = input.value.toUpperCase();
  ul = document.getElementById("mytestUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>
