  <%# -------------------- Header ------------------ %>

<div class="mb-3 p-4" style="background-color: #a8d254; opacity: 0.5; display:
flex; justify-content: center; align-items: center; position: relative;">

  <%= link_to bookmarks_path, style: "position: absolute; left: 20px;" do %>
    <i class="fa-regular fa-circle-left fa-2xl" style="color: #000000;"></i>
  <% end %>

  <h1 class="text-center" style="margin: 0;">YOUR PREVIOUS RECIPE</h1>

</div>


  <%# -------------------- Recipe ------------------ %>

<div class="border m-3 p-3">

  <% if @bookmark.recipe.present? %>
    <h2><strong><%= @bookmark.recipe.title %></strong></h2>

    <p><strong>Preparation time:</strong> <%= @bookmark.recipe.prep_time %></p>
    <p><strong>Servings:</strong> <%= @bookmark.recipe.servings %></p>
    <p><strong>Step-by-step:</strong></p>
    <ul>
    <% @bookmark.recipe.instructions.split(/\n/).each do |instruction|%>
      <li> <%=instruction %></li>
    <% end %>
    </ul>
    <p><strong>Rating :</strong> <%= @bookmark.recipe.rating %>/5</p>
  <% else %>
    <p>No recipe data available.</p>
  <% end %>


  <%# -------------------- Button "I did it"------------------ %>

  <div class="d-flex justify-content-end m-3">
    <% if @recipe.done == false %>
      <%= button_to 'I did it!',
        { controller: "recipes",
          action: "update",
          id: @recipe.id,
          recipe: { done: true } },
        method: :patch,
        class: "btn btn-success mx-1",
        data: { turbo: true } %>
    <% end %>
  </div>

</div>


  <%# -------------------- Comment ------------------------------------------ %>

<div class="border mx-3 mb-3 p-3">

  <h2>Your comment :</h2>

  <% if @comments.any? %>
    <ul>
      <% @comments.each do |comment| %>
        <li>
          <strong><%= comment.created_at.strftime("%d %b %Y, %H:%M") %></strong> :
          <div class="d-inline-flex align-items-center">
            <%= comment.content %>
            <%= button_to "",
                          [comment.recipe, comment],
                          method: :delete,
                          data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this comment?" },
                          class: "btn btn--light fa-regular fa-trash-can" %>
            </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No comments for this recipe.</p>
  <% end %>
</div>

  <%# -------------------- Button add comment ------------------------------- %>

<div class="d-flex justify-content-center gap-2">
  <div class="border-0 bg-transparent" style="width: 200px;">
    <%= link_to new_recipe_comment_path(@recipe) do %>
      <i class="fa-regular fa-message fs-1" style="cursor: pointer;"></i>
    <% end %>
  </div>


  <%# -------------------- Button delete ------------------------------------ %>

     <%= button_to "Delete this recipe",
                bookmark_path(@bookmark),
                method: :delete,
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "btn btn-danger rounded-pill" %>
</div>
