  <%# ------------------------ Header --------------------------------------- %>

<div class="mb-3 p-4" style="background-color: #a8d254; opacity: 1; display: flex; justify-content: center; align-items: center; position: relative; border-radius: 0 0 20px 20px;">
  <%= link_to request.referer, style: "position: absolute; left: 20px;" do %>
    <i class="fa-regular fa-circle-left fa-2xl" style="color: #000000;"></i>
  <% end %>
  <h1 class="text-center" style="margin: 0;">COMMENT / SHARE</h1>
</div>

  <%# -------------------- Recipe details------------------------------------ %>

<div class="border mx-3 p-3 mb-3 bg-light" style="border-radius: 15px !important">
  <p><strong><%= @recipe.title %></strong></p>
  <p><i class="fa-solid fa-stopwatch fa-lg m-s-5 my-2"></i>   <%= @recipe.prep_time %></p>
  <p><i class="fa-solid fa-utensils fa-lg m-s-5 my-2"></i>   <%= @recipe.servings %></p>
</div>


<div data-controller="insert-in-list">
  <div class="border mx-3 p-3 bg-light" style="border-radius: 15px !important">
    <p>Rate this meal ! <%= render "form_rating", recipe: @recipe %></p>
    <p>Comments :</p>
    <% if @comments.any? %>
      <ul>
        <% @comments.each do |comment| %>
          <li>
            <strong><%= comment.content %></strong> - <small><%= comment.created_at.strftime("%d %b %Y") %></small>

          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No comment for this recipe.</p>
    <% end %>
  </div>



  <div class="d-flex justify-content-center">


  <%# --------------------------- Comment ----------------------------------- %>
    <div data-controller="toggle" class="m-3">
      <button data-action="click->toggle#fire" class="border-0 bg-white p-3 rounded-pill">
        <i class="fa-regular fa-message fs-1" style="cursor: pointer;"></i>
      </button>

      <div data-toggle-target="togglableElement" class="d-none">
        <%= render "form", comment: @comment, recipe: @recipe %>
      </div>
    </div>

    <%# ----------------------- Share ----------------------------------------- %>

    <div class="mt-3 me-3">
        <button id="share-button" class="border-0 bg-white p-3 rounded-pill" data-url="<%= recipe_url(@comment.recipe) %>">
          <i class="fa-solid fa-share-nodes fs-1"></i>
        </button>
      </div>

  </div>
</div>

  <%# ----------- Back to home page --------------- %>
<div class="d-flex justify-content-center">
    <%= link_to "Skip to my next meal", erase_path, class: "btn btn-dark rounded-pill mx-5" %>
</div>

  <%# ----------- Logo --------------- %>

<div class="my-3" style="width: 200px; height: 200px; margin: 0 auto; border: 5px solid white; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
  <%= image_tag 'robot_logo.png', alt: 'Description of the image', class: "rounded-pill" %>
</div>



  <%# -------------------- Script ------------------ %>

<script>
  const button = document.getElementById("share-button")
  button.addEventListener("click", function () {
    const message = `"Check out this recipe I just tried!" ${button.dataset.url}`;
    const whatsappURL = `https://api.whatsapp.com/send?text=${encodeURIComponent(message)}`;
    window.open(whatsappURL, "_blank");
  });
</script>
