<%= simple_form_for [@recipe, @ingredient], html: { class: "ingredient form" "d-flex",
         data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f| %>
  <% if ingredient.errors.any? %>
    <div class="error-message">
      <%= ingredient.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.input :quantity, input_html: { autofocus: true } %>
  <%= f.submit class: "btn btn-secondary" %>
<% end %>
