<div class="row">

  <%= turbo_frame_tag "ingredient_#{ingredient.id}" do %>
    <div class="ingredient mb-1 p-2 d-flex align-items-center justify-content-between" style="border-bottom: 1px solid #dee2e6;">

      <div class="badge rounded-pill badge-custom" style="min-width: 100px;">
        <%= ingredient.name %>
      </div>

      <div class="badge rounded-pill badge-light" style="width: 50px; display: flex; align-items: center; justify-content: center;">
        <%= ingredient.quantity %> <%= ingredient.unit %>
      </div>

      <div class="ingredient__actions d-flex">
        <%= button_to "",
          ingredient_path(ingredient),
          method: :delete,
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "btn btn--light fa-regular fa-trash-can"%>
        <%= link_to "",
          edit_ingredient_path(ingredient),
          class: "btn btn--light fa-regular fa-pen-to-square ms-2" %>
      </div>
    </div>
  <% end %>

</div>
